table#hexapla {
  border-collapse:separate;
  border-spacing:0;
  empty-cells:show;
  height:80%;
  margin: 0 0.5em;
}

table#hexapla.full {
  margin: 0 auto;
  width:99%;
}

#hexapla thead:first-child tr {
  height:30%;
}

body {
  background-color: black;
}

#header #language {
  display: none;
}

#hexapla th {
  background-color: white;
  border: 1px solid;
}

#hexapla .header th {
  border-radius:15px 15px 0px 0px;
  border-bottom:0px;
  position:relative;
  color: #C11C1C;
  border-color: darkgrey;
}

#hexapla .pleat.close {
  text-align:center;
}

#hexapla .footer th {
  border-radius:0px 0px 15px 15px;
  border-top:0px;
  padding:5px;
  border-color: darkgrey;
}

#hexapla td {
  background-color: white;
  border-left:1px;
  border-right:1px;
  border-top:0px;
  border-bottom:0px;
  border-style:solid;
  vertical-align:top;
  border-color: darkgrey;
}

#hexapla th.pleat.open .relative-wrapper,
#hexapla td.pleat.open {
  padding:0 35px;
}

div.metadata {
  padding:0.5em 2em;
}

.creator {
  display: inline-block;
}

.editedMeta {
  color: #C11C1C;
  font-weight:bold;
  text-align:center;
  border-radius:0.5em;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.date.editedMeta {
  width: 50%;
}

.creator.editedMeta {
  width: 80%;
}

.meta {
  max-width:400px;
  margin:0 auto;
}

.workButton {
  float: right;
  background-color: dimGray;
  border-radius: 30px;
  padding: 2px 5px;
  margin: 0px 2px;
}

.top form input {
  display: inline-block;
  margin: 5px;
}

.top form textarea {
  width: 250px;
}

.top button {
  padding-left: 5px;
  padding-right: 5px;
}

.top .removeDoc, .top .addVersion {
  margin-top: -3px;
}

.top form, #removePanel {
  text-align: right;
  display: none;
}

#removePanel button {
  padding: 5px;
  font-size: 1em;
}

#hexapla .pleat.open .title,
#hexapla .pleat.open .work-creator {
  clear:both;
}

#hexapla .pleat.open .language {
  float:left;
}

#hexapla .pleat.open .date {
  float:right;
}

#hexapla .pleat.close {
  display:none;
  width:50px;
  height:50px;
  min-width:50px;
  min-height:50px;
  max-width:50px;
}

#hexapla .pleat.close .rotated-text__wrapper {
  width:50px;

}

#hexapla td.pleat.close {
  padding:0px;
}

#hexapla .pleat.close .creator,
#hexapla .pleat.close .language {
  font-size:20px;
  font-weight:bold;
  white-space:nowrap;
}

#hexapla .pleat.close .creator {
  padding:8px;
}

#hexapla .pleat.close .language {
  border:3px solid black;
  padding:5px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

#hexapla div.unit {
  position:relative;
  height: 100%;
  -webkit-transition: background-color 1s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s ease-in-out;
}

#hexapla div.unit.highlight {
  background-color:#C11C1C;
}

#hexapla div.unit .text {
  padding: 0.5em;   /* Same border+padding as text area. */
  padding-bottom: 1.5em; /* A bit more than one additional line of text. */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px grey;
}

/*to have the margin behaviour but allowing
.unit to have 100% height */
#hexapla td.pleat.open .box-wrapper {
  padding:0.5em 0px;
  height:100%;
}

#hexapla div.unit.edit {
  padding:0px;
  border:none;
  background:none;
  position:relative;
}

.unit.edit textarea {
  border:1px solid gray;
  border-radius:0.5em;
  padding:0.5em;
  width:100%;
  width: 100%;
  font-size:1em;
  font-size:1em;
  height:100%;
}

textarea.autosize {
  overflow: hidden;
  position: absolute;
}

.unit.edit div.text {
  visibility: hidden;
}

#hexapla .unit .join,
#hexapla .unit .split {
  position:absolute;
  width:32px;
  height:32px;
  cursor:pointer;
  border:1px solid black;
  z-index:99;
  right:0px;
}

.dirty {
  background-color:#fdd;
}

#hexapla .unit .join {
  background-image:url(merge.png);
  top:-23px;
}

#hexapla .unit .split {
  background-image:url(split.png);
  bottom:-32px;
}

#hexapla .unit.tomerge, #hexapla .unit.tosplit,#hexapla .unit.highlight.included.tosplit {
  background-color:#aaa;
}

#hexapla .unit:not(.edit).active {
  background-color:#eee;
}

#hexapla .unit.highlight {
  background-color:#eee;
}

#hexapla .unit.highlight.partial {
  background-color:#ddd;
}

#hexapla .unit.highlight.included {
  background-color:#efefef;
}

.button.show {
  background-image: url(pleat-closed.png);
  width:20px;
  right:15px;
}

.license {
  left:10px;
}

.edit .license {
  display:none;
}

.button.hide {
  background-image: url(pleat-open.png);
  width:32px;
  right: 10px;
}

.button.delete {
  background-image: url(delete.png);
  width:32px;
  left: 10px;
}

.edit .button.edit-license {
  display:inline-block;
}

.button.edit-license {
  background-image: url(lock.png);
  width:32px;
  left: 10px;
  display:none;
}

.pleat .button {
  background-repeat:no-repeat;
  height:32px;
  position: absolute;
  top: 10px;
  cursor:pointer;
  text-indent: 100%;
  overflow:hidden;
  z-index:99;
}

.footer .pleat .button {
  top:auto;
  bottom:10px;
}

.top {
  background-color:#888;
  color:#fff;
  padding:0.5em;
  margin: 0 0.5em 0.5em;
  font-size: 0.75em;
  border-radius: 0.5em;
}

.top  h1{
  font-weight: normal;
  font-size: 1.2em;
  display: inline;
  margin-right: 50px;
  margin-left: 15px;
}

.top #work-info {
  display:none
}

#nav li.works {
  border-top: 1px darkgrey solid;
  background-color: #888;
  border-bottom: 6px #888 solid;
}

div.context-menu {
  position:absolute;
  background: #AAAAAA;
  padding:2px;
  border:#000000;
}

div.context-menu div.item {
  padding:2px;
  cursor:default;
}

div.context-menu div:hover {
  background:#333333;
  color:#AAAAAA;
}
