div#main {
  width:100%;
}

div#main > *{
  margin-top: 25px;
  float:left;
}

div#citation {
  padding: 0 25px;
  text-align: justify;
  font-size: 0.7em;
  height: 15%;
  background-image: url("citation-mark.gif");
  background-repeat: no-repeat;
}

div#citation span.author {
  display: block;
  text-align: right;
}

div#lead {
  border-right: 2px dotted;
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
  text-align: center;
  width:25%;
  min-height:60%;
  top:10%;
}

#lead .welcome {
  padding-right: 20px;
  font-size: 1.5em;
  text-align: right;
}

div #lead > * {
  max-width:400px;
  display:inline-block;
  margin:5px 0;
}

#lead img {
  width:100%;
  max-width:269px;
}

#works-list {
  width: 50%;
  margin: 0;
  margin-left: 1%;
}

#works-list li{
  margin-top: 5px;
}

#works-list li a:hover {
  color: grey;
}

#works-list .language, #latests .title {
  font-variant: small-caps;
  margin-top: 15px;
  list-style: none;
  font-size: 22px;
  color: grey;
}

#works-list .author {
  font-variant: normal;
  margin-left: 20px;
  font-size: 16px;
  color: black;
}

#works-list a, #latests li {
  font-size: 14px;
}

#nav li.work {
  color: black;
  background-color: white;
  border-bottom: 3px white solid;
}

.concordance {
  display: none;
}
