table.concordance {
  border-collapse:collapse;
  width:100%;
}

table.concordance tr:nth-child(2n) td {
  background-color: #ddd;
}

table.concordance td {
  border-bottom: 1px solid black;
  padding:0.5em 1em;
}

table.concordance td.metadata {
  padding:0.5em;
}
