table{
  border-collapse:separate;
  border-spacing:0px;
  empty-cells:show;
}

th {
  border: 1px solid;
}

.header th {
  border-radius:2em 2em 0px 0px;
  border-bottom:0px;
}

.pleat.close {
  border-style:dashed;
}

.footer th {
  border-radius:0px 0px 2em 2em;
  border-top:0px;
}

td {
  border-left:1px;
  border-right:1px;
  border-top:1px;
  border-bottom:1px;
  border-style:solid;
}

td,
td.pleat.close {
}

.pleat.open,
.pleat.open * {
  padding:0 2em;
}

.pleat.open .title,
.pleat.open .work-creator {
  clear:both;
}

.pleat.open .language {
  float:left;
  margin-left:4em;
}

.pleat.open .creator,
.pleat.open .date {
  float:right;
}

.pleat.open .license {
  clear:both;
}

.pleat.close {
  display:none;
  cursor:pointer;
  width:2em;
  padding:0.5em;
}

.pleat.close * {
  display:none;
  transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  transform-origin:left top;
  -o-transform-origin:left top;
  -moz-transform-origin:left top;
  -webkit-transform-origin:left top;
  position:fixed;
}

.pleat.close .creator {
  display:block;
  white-space:nowrap;
  bottom:8em;
  padding-top:0.5em;
  padding-left:0.5em;
}

.pleat.close .language {
  display:block;
  bottom:2em;
  border:3px solid black;
  padding:0.3em;
  width:1em;

}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

textarea {
  width:100%;
  box-sizing:border-box;
  border:none;
}

.unit {
  padding-right:0.5em;
  margin-left:0.5em;
  position:relative;
}

.unit:before {
  content:".";
  padding:0.5em;
  margin-left:-0.5em;
}

.unit:hover {
  background-color:yellow;
}

/*.unit:after {
  content:" ";
  background-color:white;
}*/

.unit .join,
.unit .split {
  padding 2px;
  cursor:pointer;
  margin-left:0.5em;
  position:absolute;
}

.unit .join {
  left:-0.5em;
  top:0;
}

.unit .split {
  right:0;
  bottom:0;
}

.unit .join:before {
  content:"X";
}

.unit .split:before {
  content:"+";
  right:0.5em;
}

.unit.tomerge, .unit.tosplit,.unit.highlight.included.tosplit {
  background-color:gray;
}

.unit.highlight {
  background-color:green;
}

.unit.highlight.partial {
  background-color:cyan;
}

.unit.highlight.included {
  background-color:blue;
}

