* {margin:0px; padding:0px; 
   -moz-box-sizing:border-box; 
   box-sizing:border-box; }
table, td, tr, th {
  /* firefox doesn't box-sizes table elements,
  so we switch back to default on all browsers
  for consistency */
  box-sizing:initial;
  -o-box-sizing:initial;
  -webkit-box-sizing:initial;
}
a {color:inherit; text-decoration:none; }
.align-left { float:left; }
.align-right { float:right; }

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

/*pagination*/
body,html {
  height:100%;
}

body,html,input,textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:16px;
}

#body {
  min-height:100%;
  position:relative;
}

#main {
  padding-bottom:3em;
  position:relative;
}

#header {
  font-size:0.9em;
  color:#fff;
  background: linear-gradient(to bottom, grey 0%, darkslategrey 100%);
}

#footer {
  color:#fff;
  background-color: darkslategrey;
  width:100%;
  position:absolute;
  z-index:99;
  bottom:0px;
  font-size: 0.85em;
  height:2.1em;
}

#footer > div {
  padding:0.4em;
}

#footer span {
  font-weight:bold;
}

#header ul#nav {
  float:left;
  padding:0px;
  padding-top: 3px;
}

/*textarea {
  width:100%;
  box-sizing:border-box;
  border:none;
}*/

#header li,
#header div {
  padding:0.5em;
}

#nav li {
  display:inline-block;
  list-style:none;
  margin-left:1em;
  padding:0.5em;
  font-weight:bold;
}

#nav li a {
  text-decoration:none;
  font-weight: normal;
}

#nav li:hover {
  box-shadow: 0 0 8px white;
}

#header form.concordance {
  float:right;
  margin-right:2em;
  font-size:1.2em;
  font-weight:bold;
}

form.concordance input#query {
  border-radius:0.7em;
  border-style:solid;
  height:1.5em;
  margin:0.5em;
}

#header #language  {
  border-radius: 0.5em;
}

ul {
  padding-left:1em;
  margin-left:0.5em;
}

li {
  list-style-image: url("list-square-small.png");
}

li.foldable {
  list-style-image: url("open_list_item.gif");
  cursor: pointer;
}

li.foldable.closed {
  list-style-image: url("closed_list_item.gif");
}

li.closed > ul {
  display:none;
}

.relative-wrapper {
  position:relative;
  height:100%;
  width:100%;
}

/* ====
I hate when you have to hack CSS to render natural stuff...
http://kizu.ru/en/fun/rotated-text/
*/
.rotated-text__wrapper {
   display: inline-block;
   overflow: hidden;
 }

.rotated-text {
   display: inline-block;
   white-space: nowrap;

        transform: translate(0,100%) rotate(-90deg);
        transform-origin: 0 0;
     -o-transform: translate(0,100%) rotate(-90deg);
     -o-transform-origin: 0 0;
   -moz-transform: translate(0,100%) rotate(-90deg);
   -moz-transform-origin: 0 0;
-webkit-transform: translate(0,100%) rotate(-90deg);
-webkit-transform-origin: 0 0;
 }

.rotated-text:after {
   content: "";
   float: left;
   margin-top: 100%;
 }
/* ==== */
