table#hexapla {
  border-collapse:separate;
  border-spacing:0;
  empty-cells:show;
  height:80%;
  margin:0 1em;
}

#hexapla th {
  border: 1px solid;
}

#hexapla .header th {
  border-radius:30px 30px 0px 0px;
  border-bottom:0px;
  position:relative;
}

#hexapla .pleat.close {
  border-style:dashed;
  text-align:center;
}

#hexapla .footer th {
  border-radius:0px 0px 30px 30px;
  border-top:0px;
  padding:5px;
}

#hexapla td {
  border-left:1px;
  border-right:1px;
  border-top:0px;
  border-bottom:0px;
  border-style:solid;
  vertical-align:top;
}

#hexapla td,
#hexapla td.pleat.close {
}

#hexapla th.pleat.open .relative-wrapper,
#hexapla td.pleat.open {
  padding:0 12px;
}

.title,.work-creator,.creator, .date, .language {
  font-size:1.2em;
  padding:0.5em 2em;
  white-space:nowrap;
}

.meta {
  max-width:400px;
  margin:0 auto;
}

#hexapla .pleat.open .title,
#hexapla .pleat.open .work-creator {
  clear:both;
}

#hexapla .pleat.open .language {
  float:left;
}

#hexapla .pleat.open .date {
  float:right;
}

#hexapla .pleat.close {
  display:none;
  width:50px;
  height:50px;
  min-width:50px;
  min-height:50px;
  max-width:50px;
}

#hexapla .pleat.close .rotated-text__wrapper {
  width:50px;
            
}

#hexapla td.pleat.close {
  padding:0px;
}

#hexapla .pleat.close .creator,
#hexapla .pleat.close .language {
  font-size:20px;
  font-weight:bold;
  white-space:nowrap;
}

#hexapla .pleat.close .creator {
  padding:8px;
}

#hexapla .pleat.close .language {
  border:3px solid black;
  padding:5px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

#hexapla div.unit {
  position:relative;
  height: 100%;
}

#hexapla div.unit .text {
  padding: 0.5em;   /* Same border+padding as text area. */
  padding-bottom: 1.5em; /* A bit more than one additional line of text. */ 
  background-color:#f8f8f8;
  width: 100%;
  height: 100%;
  border:1px black solid;
}

/*to have the margin behaviour but allowing 
.unit to have 100% height */
#hexapla td.pleat.open .box-wrapper {
  padding:0.5em 0px;
  height:100%;
}

#hexapla div.unit.edit {
  padding:0px;
  border:none;
  background:none;
  position:relative;
}

.unit.edit textarea {
  border:1px solid gray;
  border-radius:0.5em;
  padding:0.5em;
  width:100%;
  height:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-size:1em;
}

.unit.edit div.text {
  visibility: hidden;
}

#hexapla .unit .join,
#hexapla .unit .split {
  position:absolute;
  width:32px;
  height:32px;
  cursor:pointer;
  border:1px solid black;
  z-index:99;
  right:0px;
}

textarea.dirty {
  background-color:#fdd;
}

#hexapla .unit .join {
  background-image:url(merge.png);
  top:-23px;
}

#hexapla .unit .split {
  background-image:url(split.png);
  bottom:-32px;
}

#hexapla .unit.tomerge, #hexapla .unit.tosplit,#hexapla .unit.highlight.included.tosplit {
  background-color:#aaa;
}

#hexapla .unit:not(.edit).active {
  background-color:#eee;
}

#hexapla .unit.highlight {
  background-color:#eee;
}

#hexapla .unit.highlight.partial {
  background-color:#ddd;
}

#hexapla .unit.highlight.included {
  background-color:#efefef;
}

.button.show {
  background-image: url(pleat-closed.png);
  width:20px;
  right:15px;
}

.license {
  left:10px;
}

.edit .license {
  display:none;
}

.button.hide {
  background-image: url(pleat-open.png);
  width:32px;
  right: 10px;
}

.edit .button.edit-license {
  display:inline-block;
}

.button.edit-license {
  background-image: url(lock.png);
  width:32px;
  left: 10px;
  display:none;
}

.pleat .button {
  background-repeat:no-repeat;
  height:32px;
  position: absolute;
  top: 10px;
  cursor:pointer;
  text-indent: 100%;
  overflow:hidden;
  z-index:99;
}

.footer .pleat .button {
  top:auto;
  bottom:10px;
}
