h1 {
  text-align:center;
  padding:1em;
}

.chapeau {
  text-align:center;
  font-weight:bold;
}

.full {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.full > div {
  width:50%;
  padding:3em;
  vertical-align:top;
  position:absolute;
}

div.license-selected {
  margin-left:50%;
}

div.dialog {
  border:2px black solid;
}

div.label {
  font-weight:bold;
  line-height:1.5em;
}

div.option-group {
  border-bottom:1px black solid;
  padding:0.5em 3em;
}

div.bottom {
  border:none;
  text-align:center;
}

div.license-name {
  font-size:2em;
  font-weight:bold;
  text-align:center;
  padding:0.5em;
}

div.freework-text {
  font-size:2em;
  padding:0.5em;
  margin-right:4em;
  text-align:left;
}

div.graphical {
  text-align:center;
  white-space:nowrap;
}

div.fc-dubious {
  text-align:center;
  padding:2em 0.5em;
}

div.cc, div.freework {
  display:inline-block;
  margin:2em;
  padding:2em;
  background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.freework {
  background-image:url(../img/fc_dubious.png);
  float:right;
}

div.cc.by {
  background-image:url(../img/chooser_by.png);
}

div.cc.nc {
  background-image:url(../img/chooser_nc.png);
}

div.cc.nd {
  background-image:url(../img/chooser_nd.png);
}

div.cc.sa {
  background-image:url(../img/chooser_sa.png);
}
