/*  DOM ELEMENTS */
body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0px;
	color:#333333;
}

/* CLASSes */

.creator{
	text-align:left;
	color:#BBB;
	margin:10px;
}

.footer{
    color:#FFF;
	background-image:url(../images/vert-line-foot.png);
	height:30px;
    font-size:0.8em;
    text-align:center;
    margin-top:4em;
	clear:both;
}
.footer-text{
		vertical-align:50%;
}
.footer img{
	border: 0px;
	height:28px;
	width:85px;
	vertical-align:text-bottom;
}
.highlight {
    font-weight:bold;
}
.title{
	padding:3px;
	font-size:120%;
	font-weight:bold;
}
.text{
	margin:5px 10px 10px 10px;
	padding:10px;
}

.leftColumn-inner {
background:url(../images/nav_bg.jpg) repeat-y scroll 0 0 #F7F7E6;
margin:0 0 10px;
overflow:hidden;
padding:10px 0 0 20px;
color:#555;
font-weight:bold;
}

.leftColumn-inner ul {
font-size:0.8em;
font-weight:bold;
line-height:0.8em;
list-style:none outside none;
margin-bottom:0;
margin-top:0;
padding-bottom:0.4em;
padding-left:0.6em;
}

.leftColumn-inner ul li a {
display:block;
padding:6px 10px 4px 0;
}

.bounding-box{
	border: 1px solid #DBDBDB;	
}


.language{
	font-size:0.8em;
	font-weight:bold;
	padding:3px;
}

.td-left{
	width:20%;
	text-align:right;
	vertical-align:bottom;
}
.td-right{
	width:60%;
	text-align:left;
	vertical-align:bottom;
}

.full-width{
	width:100%;
}

.inline{
	float:left;
}
.insert-text{
	clear:both;
}


.manage-link a{
	font-size:80%;	
	font-weight:bold;
	color: #777;
	text-decoration:none;
	margin:50px;
}

td.left-column {
border-color:#DBDBDB;
border-right:3px solid #DBDBDB;
font-size:80%;
padding:15px;
text-align:right;
vertical-align:top;
width:200px;
}

div.left-section {
background-color:#333333;
background-image:url(../images/vert-line-menu.png);
border-color:#989898;
border-left:1px solid #989898;
border-right:1px solid #989898;
color:#FFFFFF;
font-size:120%;
font-weight:bold;
margin:3px 0;
padding:3px;
}

div.central{
	margin:auto;
	width:90%;
	border-color: #333333;
	border-left: thick dotted;
    border-right: thick dotted;
	background-color: #FFF;/*#DAD6DD;*/
}
div.central-home{
	width:100%;
	background-color: #FFF;
	border:solid 1px;
	border-color:#DBDBDB;
}

a:link, a:active {
color:#0066B7;
}

a {
text-decoration:none;
}


div.logo {
	border-right: thick dotted;
	padding: 15px;
    text-align:right;
    width:280px;
}
div.citation {
    padding-left:30px;
    padding-top:5px;
    padding-bottom:10px;
    margin-left:20px;
    margin-top:10px;
    text-align:justify;
    font-size:0.8em;
    background-image:url(../images/citation-mark.gif);
    background-repeat:no-repeat;
}
div.citation span.author {
    display:block;
    text-align:right;
}
div.site-title {
    font-size:2em;
    font-weight:bold;
    text-align:right;
}
div#searchbar {
text-align:right;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#AAA6AD none repeat scroll 0 0;
padding:10px;
text-align:right;
}

div#filters {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
padding:10px;
}


div#black-border{
	margin: 40px;
	border: solid 20px;
	border-color: #333;
	padding:20px;
}
div#tutorial-text {
border-color:#DEDEDE;
border-left:3px solid #DEDEDE;
padding-left:20px;
}
div#tutorial {
background-color:#FFFFFF;
margin:30px auto;
text-align:left;
width:90%;
}
li.language {
    font-variant:small-caps;
    font-size:16px;
    list-style:none;
    font-weight:normal;
}

li.author {
    font-variant:normal;
    font-size:12px;
    list-style-type:none;
}

li.closed {
    list-style-image:url(../images/closed_list_item.gif);
    cursor:pointer;
}
li.open {
    list-style-image:url(../images/open_list_item.gif);
    cursor:pointer;
}
li.closed ul {
    display:none;
}
li.open ul {
    cursor:default;
}
ul.texts {
    padding-left:1em;
}
li.text {
    list-style-image:none;
    list-style-type:none;
}
li.text a {
    text-decoration:none;
    color:#555;
}

.home tr{
	vertical-align:top;
}

dt {
margin:10px 0 3px 30px;
}

div#add-privilege,div#rem-privilege{
	width:70%;
	margin:30px auto;
	border: solid 1px;
	border-color:#DBDBDB;
}
select.manage-select{
	width:150px;
}
.privilege-form dt{
	font-size:80%;
	font-weight:bold;
}
.privilege-form dd{
	
}

.privilege-form .title{
	margin:auto;
	text-align:center;
	color:#FEFEFE;
	/*background-image:url(../images/vert-line.png);*/
	background-color: #DBDBDB;
	width:100%;
	height:40px;
	vertical-align:bottom;
	padding:20px 0px 0px;
	font-weight:normal;
	font-size:170%;
}
.srcLang {
font-variant:small-caps;
}
li.srcLang, li.trlLang, li.srcAuth {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

.nutshell {
    border:2px dashed;
    font-weight:bold;
    margin:30px;
    padding:5px;
}
.options{
color:#333333;
font-weight:bold;
text-decoration:none;
}

ul.hyphen li {
    list-style-type:circle;
}
td.right-column{
	vertical-align:top;
	padding:20px;
	width:50%;
}
table.right-column{
	width:100%;
	
}

div.original-text{
background-color:#EEEEEE;
border-color:#AAA6AD;
}
.translated-text{
}
span.translation {
font-weight:bold;
}
div.text {
background-color:#FFFFFF;
border: solid 2px 15px 4px 2px ;
border-color: #CAC6CD;
}

div.text, div.original-text, div.translated-text {
border-left:15px solid;
border-right:2px solid;
margin-left:1px;
margin-right:15px;
margin-top:5px;
padding:5px 10px;
vertical-align:top;
border-color: #AAA6AD;
}
div.tag-item{
	float:left;
	background-color:#E5E5E5;
	color:#4D4D4D;
	font-size:18px;
	font-weight:bold;
	padding:5px;
	font-variant:small-caps;
	margin:3px;
}

div#tag-area {
	text-align:left;
	clear:both;
}

#clear{
	clear:both;
	height:30px;
	width:100%;
}
#button{}

#work-title{
	margin:10px;
}


#left-column{
	float:left;
	max-width:300px;
	min-width:150px;
	overflow:hidden;
	width:21%;
	/* width:20%;
	float:left;
	text-align: right;
	margin-top:5px;
	clear:none; */
}

#right-column{
	width:75%;
	float:left;
	border: 1px solid #DBDBDB;
	max-width:800px;
	min-width:250px;
}
/* IDs */

#left-options{
	background: transparent url(../images/vert-line.png);
	width: 200px;
	margin:10px;
	color:#FFF;
	font-size:90%;
	font-weight:bold;
	padding:5px;
}


#warning{}

#header{
    background-image: url(../images/vert-line.png);
   /* background-color: #333;*/
    color:#FFF;
    height: 30px;
    margin:0px;
}
#header a {
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
}
#header-logo{
	float:left;
    margin:5px;
	width:25%;
	/*max-width:500px;
	min-width:80px;*/
}
#header-navigation{
	float:right;
    margin:5px;
	width:70%;
	text-align:right;
	/*min-width:600px;
	max-width:700px;*/
}
#header-navigation ul {
    margin:0;
}
#header-navigation ul li {
    display:inline;
    list-style:none;
    margin-right:20px;
}
#content {
    margin:5px;
}
#fieldset-tag_group{
	border:0px;
	background-color:#E5E5E5;
}
#tag_group-element{
	margin:0px;
	width:100%;
}
#tag_button-element {
	float:left;
	margin:0px;
}
#tag_comment-element{
	float:right;
	margin:0px;
}

#warning {
	margin: 5px;
	color: #F14;
	font-variant: small-caps; 
	font-weight:bold;
	clear:both;
}

#title-label, #author-label, #the_text-label, #language-label{
	
	display:inline;
	padding-left:40px;
}

#my-transl{
	font-size:200%;
	color:#505050;

}
#autogrow_shadow {
	border:1px solid;
	left:-10000px;
	position:absolute;
	top:-10000px;
}
