/*  DOM ELEMENTS */
body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    margin:0px;
    color:#333333;
}

/* CLASSes */

.creator{
    text-align:left;
    color:#BBB;
    margin:0 10px;
}

.footer{
    color:#FFF;
    background-image:url(../images/vert-line-foot.png);
    height:30px;
    font-size:0.8em;
    text-align:center;
    margin-top:4em;
    clear:both;
}
.footer-text{
        vertical-align:50%;
}
.footer img{
    border: 0px;
    height:28px;
    width:85px;
    vertical-align:text-bottom;
}
.highlight {
    font-weight:bold;
}
td.logo{
    width:300px;
}
td.news{
    width:25%;
    border:solid 1px #CCCCCC;
    background-color:#F5F5F5
}
span.genre{
    font-weight:bold;
    font-variant:small-caps;
    font-style:italic;
}
div.tag-group{
    margin-left:20px;
    margin-top:5px;
}

div.title{
    padding:3px;
    font-size:120%;
    font-weight:bold;
}
div.text{
    margin:5px 10px 10px 10px;
    padding:10px;
}

.leftColumn-inner {
background:url(../images/nav_bg.jpg) repeat-y scroll 0 0 #F7F7E6;
margin:0 0 10px;
overflow:hidden;
padding:10px 0 0 20px;
color:#555;
font-weight:bold;
}

.leftColumn-inner ul {
font-size:0.8em;
font-weight:bold;
line-height:0.8em;
list-style:none outside none;
margin-bottom:0;
margin-top:0;
padding-bottom:0.4em;
padding-left:0.6em;
}

.leftColumn-inner ul li a {
display:block;
padding:6px 10px 4px 0;
}

.bounding-box{
    border: 1px solid #DBDBDB;  
}


.language{
    font-size:0.8em;
    font-weight:bold;
    padding:3px;
}

.td-left{
    width:20%;
    text-align:right;
    vertical-align:bottom;
}
.td-right{
    width:60%;
    text-align:left;
    vertical-align:bottom;
}

.full-width{
    width:100%;
}

.inline{
display:inline;
}
.ex-inline{
    float:left;
}
.insert-text{
    clear:both;
}


.manage-link a{
    font-size:80%;  
    font-weight:bold;
    color: #777;
    text-decoration:none;
    margin:50px;
}

td.left-column {
border-color:#DBDBDB;
border-right:3px solid #DBDBDB;
font-size:80%;
padding:15px;
text-align:right;
vertical-align:top;
width:200px;
}

div.left-section {
background-color:#585858;
background-image:url(../images/vert-line-menu.png);
border-color:#989898;
border-left:1px solid #989898;
border-right:1px solid #989898;
color:#FFFFFF;
font-size:120%;
font-weight:bold;
margin:3px 0;
padding:3px;
}

div.central{
    margin:auto;
    width:90%;
    border-color: #333333;
    border-left: thick dotted;
    border-right: thick dotted;
    background-color: #FFF;/*#DAD6DD;*/
}
div.central-home{
    width:100%;
    background-color: #F5F5F5;
    border:solid 1px;
    border-color:#DBDBDB;
}


div#error{
    margin: 40px auto;
    border: solid 40px;
    border-color: #EDEDED;
    background-color: #DCDCDC;
    width:70%;
}

div#margin{
    margin: 20px;
}
a:link, a:active {
color:#0066B7;
}

a {
text-decoration:none;
}


div.logo {
    border-right: thick dotted;
    padding: 15px;
    text-align:right;
    width:280px;
}
div.citation {
    padding-left:30px;
    padding-top:5px;
    padding-bottom:10px;
    margin-left:20px;
    margin-top:10px;
    text-align:justify;
    font-size:0.8em;
    background-image:url(../images/citation-mark.gif);
    background-repeat:no-repeat;
}
div.citation span.author {
    display:block;
    text-align:right;
}
div.site-title {
    font-size:2em;
    font-weight:bold;
    text-align:right;
}
div#searchbar {
text-align:right;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#AAA6AD none repeat scroll 0 0;
padding:10px;
text-align:right;
}

div#filters {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
padding:10px;
}

div#results table {
    width:100%;
    border-collapse:collapse;
}

div#tutorial-text {
border-color:#DEDEDE;
border-left:3px solid #DEDEDE;
padding-left:20px;
}
div#tutorial {
background-color:#FFFFFF;
margin:30px auto;
text-align:left;
width:90%;
}

div.TLcorner,div.TRcorner,div.TCcorner,div.BCcorner,div.BLcorner,div.BRcorner{
    background-repeat:no-repeat;
    width:21px;
    height:21px;
}
div.TLcorner{
    float:left;
    background-image:url(../images/TLcorner.png); 
}
div.TRcorner{
    background-image:url(../images/TRcorner.png);
    float:right;
}
div.TCcorner{
    background-image:url(../images/TCcorner.png);
    clear:none;
}
div.BCcorner{
    background-image:url(../images/BCcorner.png);
    clear:none;
}
div.BLcorner{
    float:left;
    background-image:url(../images/BLcorner.png); 
}
div.BRcorner{
    background-image:url(../images/BRcorner.png);
    float:right;
}
div.Tborder{
    background-image:url(../images/top-border.png);
}
div.Bborder{
    background-image:url(../images/bottom-border.png);
}
div.Tborder, div.Bborder{
    background-repeat:horizontal-repeat;  
    height:21px;
}
div.Lborder{
    background-image:url(../images/left-border.png);
    background-repeat:repeat-y;
    background-position:left;
}
div.Rborder{
    background-image:url(../images/right-border.png);
    background-repeat:repeat-y;
    background-position:right;
 }
.hundred {
    height:100%;
}
div.Cborder{
    clear:none;
    background-image:url(../images/central-border.png);
}
div.work-container{
    background-color: #FFFFFF;
    color:#585858;
    background-repeat:no-repeat;
    margin:0 20px;
}
div.upperblock {
    border:1px solid #DBDBDB;
}
td.bottom-spacer {
    height:42px;
}
#page-container{
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    background-color: #585858;
    color:#585858;
}
div#half-page-container{
  /*  width: 700px;
    height: 900px;
    text-align: center;
    vertical-align: middle;
    background-color: #585858;
    color:#585858;*/
    width:100%;/*501px;/*642px;*/
}
img.turn-page{
    vertical-align:middle;
    text-align:left;
    position:relative;
    top:380px;
    /*left:3px;*/
}

li.language {
    font-variant:small-caps;
    font-size:16px;
    list-style:none;
    font-weight:normal;
}

li.author {
    font-variant:normal;
    font-size:12px;
    list-style-type:none;
}

li.closed {
    list-style-image:url(../images/closed_list_item.gif);
    cursor:pointer;
}
li.open {
    list-style-image:url(../images/open_list_item.gif);
    cursor:pointer;
}
li.closed ul {
    display:none;
}
li.open ul {
    cursor:default;
}
ul.texts {
    padding-left:1em;
}
li.text {
    list-style-image:none;
    list-style-type:none;
}
li.text a {
    text-decoration:none;
    color:#555;
}

.home tr{
    vertical-align:top;
}

dt {
margin:10px 0 3px 30px;
}
input{
    color:#585858;
}
div#add-privilege,div#rem-privilege{
    width:70%;
    margin:30px auto;
    border: solid 1px;
    border-color:#DBDBDB;
}
select.manage-select{
    width:200px;
}

div.buttons{
    text-align:right;
}
div.buttons #submit{
    margin:10px;
}
.privilege-form dt{
    font-size:80%;
    font-weight:bold;
}
.privilege-form dd{
    
}
div.spaced{
    padding:20px;
}
div.block{
    padding:0px;
}

.privilege-form .title{
    margin:auto;
    text-align:center;
    color:#FEFEFE;
    /*background-image:url(../images/vert-line.png);*/
    background-color: #DBDBDB;
    width:100%;
    height:40px;
    vertical-align:bottom;
    padding:20px 0px 0px;
    font-weight:normal;
    font-size:170%;
}
.srcLang {
font-variant:small-caps;
color:#A0A0A0;
margin-bottom:5px;
}
ul.trl{
text-transform:capitalize;
}
li.my{
    margin:3px;
}

li.srcLang, li.trlLang, li.srcAuth {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
div.news-title{
    font-size:1.2em;
    text-transform:uppercase;
    text-align:center;
    margin:10px 0px;
}
div.news-paragraph{
    margin-left:10px;
    margin-bottom:10px;
    list-style-image:url(../images/list-square.png);
}

.nutshell {
    border:2px dashed;
    font-weight:bold;
    margin:30px;
    padding:5px;
}
.options{
color:#333333;
font-weight:bold;
text-decoration:none;
}
div#remove-tags{
    float:right;
    width:50%;
    text-align:left;
}
.up-section{
    vertical-align:top;
}
a.delete{
    font-size:10px;
    font-weight:bold;
    color:#BBBBBB;
    background-color:#585858; 
    vertical-align:center;

}


ul.hyphen li {
    list-style-type:circle;
}
td.right-column{
    vertical-align:top;
    padding:20px;
    width:50%;
}
.top-align{
    vertical-align:top;
}
table.home{width:100%}

table.right-column{
    width:100%;
}

div.original-text{
background-color:#EEEEEE;
border-color:#AAA6AD;
}
.translated-text{
}
span.translation {
font-weight:bold;
}

span.age{
font-size:0.7em;
font-style:italic;
}
a.news_link{

text-transform:uppercase;
}

div.text {
background-color:#FFFFFF;
border: solid 1px #DBDBDB;
}

div.text, div.original-text, div.translated-text {
/*border-left:15px solid;
border-right:2px solid;*/
margin-left:20px;
margin-right:20px;
margin-top:5px;
padding:5px 10px;
vertical-align:top;
text-align:left;
}

 td.textorig {
    border-color: #AAA6AD;
    background-color:#EEEEEE;    
    width:50%;
}

div.left-menu{
    float:left;
    margin:0px;
    width:18%;
    /*min-width:150px;
    max-width:250px;*/
    font-size:80%;
/*  width:200px;*/
    padding:1%;
    text-align:right;
    vertical-align:top;
    border-top: solid 1px #DBDBDB;
}
table.right-container{
    margin:0px;
    background-color:#585858;
    color:#DBDBDB;    
    border-collapse:collapse;
    border-spacing:0px;

}

.right-container td{
    border-style:hidden;
    border-width:0px;
    padding:0px;
}

.right-container tr{
    border-style:hidden;
    border-width:0px;
}
div.right-container{
    margin-left:20%;
    background-color:#585858;
    color:#DBDBDB;    
}

div.my-transl{
text-align:left;
margin: 30px 20px;
background-color:#F5F5F5;
border: 1px solid #CCCCCC;
}
.lang-select{
text-align:right;
vertical-align:top;
}

.tag-item{
    background-color:#585858;
    color:#EEEEEE;
    font-size:12px;    
    padding:2px 2px 0px 5px;
   /* font-variant:small-caps;
    * font-weight:bold;*/
    margin:2px;
}

textarea.autogrow, #autogrow_shadow {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
}
textarea.autogrow {
border:1px solid #DBDBDB;
/*border-color:#FFFFFF;*/
height:auto;
overflow:hidden;
width:100%;
color:#585858;
}



/* IDs */
div#tag-area {
    text-align:left;
    clear:both;
}

div.show-tag-area{
    margin-top:10px;
    margin-bottom:5px;
}
#clear{
    clear:both;
    height:30px;
    width:100%;
}
#button{}


#left-column{
    float:left;
    max-width:300px;
    min-width:150px;
    overflow:hidden;
    width:21%;
    /* width:20%;
    float:left;
    text-align: right;
    margin-top:5px;
    clear:none; */
}

#right-column{
    width:75%;
    float:left;
  /*  border: 1px solid #DBDBDB;*/
    max-width:1000px;
    min-width:800px;
    padding:20px;
    vertical-align:top;
}
#left-options{
    background: transparent url(../images/vert-line.png);
    width: 200px;
    margin:10px;
    color:#FFF;
    font-size:90%;
    font-weight:bold;
    padding:5px;
}


#warning{}

#header{
    background-image: url(../images/vert-line.png);
   /* background-color: #333;*/
    color:#FFF;
    height: 30px;
    margin:0px;
    width:100%;
    min-width:1024px;
}
#header a {
    color:#FFF;
    font-weight:bold;
    text-decoration:none;    
}
#header-logo{
    float:left;
    margin-top:5px;
    margin-left:1%;
    width:39%;
    min-width:400px;
}
#header-navigation{    
    margin-top:5px;
    min-width:600px;
    width:60%;
    float:right;
    text-align:right;
}
#header-navigation ul {
    margin:0px;
    padding:0px;
}
#header-navigation ul li {
    display:inline;
    list-style:none;
    margin-right:20px;
}
#content {
    margin:5px;
}
#LRcontainer{
    width:100%;    
    min-width:1014px;/* sum of the elements into div#LRcontainer minus margin of #content */
}
#fieldset-tag_group{
    border:0px;
    background-color:#E5E5E5;
}
#tag_group-element{
    margin:0px;
    width:100%;
}
#tag_button-element {
    float:left;
    margin:0px;
}
#tag_comment-element{
    float:right;
    margin:0px;
}
#tag_input{
    width:80px;
}
#warning {
    margin: 5px;
    color: #F14;
    font-variant: small-caps; 
    font-weight:bold;
    clear:both;
}

#title-label, #author-label, #the_text-label, #language-label{
    
    display:inline;
    padding-left:40px;
}
div#my-transl-title{
    font-size:1.8em;
    color:#a0a0a0;/*#505050;*/
    margin:20px;
    height:50px;
}
#autogrow_shadow {
    border:1px solid;
    left:-10000px;
    position:absolute;
    top:-10000px;
}

/*

#original-text-page{
    float:left;
    clear:none;
    width:50%;
    min-width:400px;
    margin-left:40px;
    background-color:#585858;
}
#translated-text-page{
    float:left;
    clear:right;
    width:50%;
    min-width:400px;
    margin-right:40px;
    background-color:#585858;
}
*/

td.orig-column{
    vertical-align:top;
    width:50%;/*500px;642px;*/
}

td.transl-column{
    vertical-align:top;
    width:50%;/*500px;/*642px;*/
}

table#openbook-read{
    /*border-spacing:0;
    border-collapse:collapse;*/
    width: 80%;
}

table#openbook-edit{
/*    border-spacing:0;
    border-collapse:collapse;*/
    width: 100%;
}

div#dark-back{
    background-color:#585858;
}
div#width80{    
    width:80%;
    margin-left:10%;
}

body .filter-value.possible {
    cursor:pointer;
    text-decoration:underline;
}

body .filter-value.selected {
    font-weight:bold;
    cursor:pointer;
    background:#AAA6AD;
    color:#fff;
}

body .filter-value.alone {
    font-style:italic;
}

body .filter-remove {
    cursor:pointer;
    text-decoration:underline;
    font-weight:normal;
}
td.title {
    vertical-align:top;
    width:10%;
}
td.block {
    vertical-align:top;
    width:40%;
}

ul.filter {
    font-size:70%;
}
ul.filter li {
    list-style:none;
    display:inline;
}
li.filter-title {
    padding-right:3em;
    font-weight:bold;
}
li.filter-value {
    padding:0.5em 1em;
    margin:0 0.5em;
    text-align:center;
}

div.scrollbutts {
    float:left;
}
div.scrollbutts .button {
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    cursor:pointer;
}
div.scrollbutts .button.disabled {
    cursor:default;
}
div.scrollbutts .up {
    background-image:url(../images/up.gif);
}
div.scrollbutts .down {
    background-image:url(../images/down.gif);
}
div.scrollbutts div.down.disabled {
    background-image:url(../images/down-dis.gif);
}
div.scrollbutts div.up.disabled {
    background-image:url(../images/up-dis.gif);
}
div.scrollbutts div.disabled {
    background-image:none;
}
#results tr.result td.block {
    padding-left:2em;
    padding-right:2em;
}
#results tr.result td.title {
    padding-left:0;
    padding-right:0;
}
#results tr.result td {
    padding-top:1em;
    padding-bottom:1em;
    border-spacing:0;
}
#results tr.reverse {
    background-image:url(../images/bigarrow-left.png);
    background-repeat:no-repeat;
    background-position:center;
}

#results tr.altern {
    background-color:#fff;
}
#results tr.altern {
    background-color:#DDD;
}
#results tr.result {
    height:50px;
    overflow:hidden;
}

tr.button-line{
    padding:5px;
    text-align:right;
}

span.title{
    font-style:italic;
    font-weight:normal;
}
span.author{
    font-style:normal;
    font-weight:normal;
}
.red{
color:#D91919;
}

a.idle{
color:#d0d0d0;
}
