.creator{
    text-align:left;
    color:#BBB;
    margin:0 10px;
}

.TLcorner,.TRcorner,.BLcorner,.BRcorner,.Tborder,.Rborder,.Lborder,.Bborder,.middle,.center{
float:left;
}

.Tborder{
text-align:right;}

.TLcorner,.TRcorner,.BLcorner,.BRcorner{
    background-repeat:no-repeat;
    width:5%;
    height:32px;
}
.TLcorner{
    float:left;
    /*background-image:url(../images/TLcorner.png); */
    background-image:url(../images/TLcorner_extended.png); 
}
.TRcorner{
/*    background-image:url(../images/TRcorner.png);*/
    background-image:url(../images/TRcorner_extended.png);
    background-position:right top;
    float:right;
}
.TLcorner-ong{
    background-image:url(../images/onglet-left.png); 
    height:32px;
    width:23px;
    float:left;
    background-repeat:no-repeat;
}

.TRcorner-ong{
    background-image: url(../images/onglet-right-short.png); 
    height:32px;
    float:right;
    width:23px;
    background-repeat:no-repeat;
}
.Tborder-ong{
    background-image:url(../images/onglet-top.png);
    background-repeat:repeat-x;
    height:32px;
}

.BLcorner{
    float:left;
    background-image:url(../images/BLcorner_extended.png); 
/*    background-image:url(../images/BLcorner.png); */
    background-position:left bottom;
}
.BRcorner{
    /*background-image:url(../images/BRcorner.png);*/
    background-image:url(../images/BRcorner_extended.png);
    background-position:right bottom;
    float:right;
}
.Tborder{
    background-image:url(../images/top-border.png);
}
.Bborder{
    background-image:url(../images/bottom-border.png);
}
.Tborder, .Bborder{
    background-repeat:repeat-x;  
    height:32px;
}
.Lborder{
    background-image:url(../images/left-border-extended.png);
    background-repeat:repeat-y;
    background-position:left;
    /*width:21px;*/
    width:5%;
}
.Rborder{
    background-image:url(../images/right-border-extended.png);
    background-repeat:repeat-y;
    background-position:right;
    /*width:21px;*/
    width:5%;
 }
#page-container{
    vertical-align: middle;
    padding: 20px;
    background-color: #585858;
    color:#585858;
}
img.turn-page{
    height:20px;
    width:21px;
    position:relative;
    top:50%;
    cursor:pointer;
    visibility:hidden;
}
#next-page img{
float:right;
}

div#remove-tags{
    float:right;
    width:50%;
    text-align:left;
}

div.text {
background-color:#FFFFFF;
/*border: solid 1px #DBDBDB;
padding:5px 10px;*/
margin-top:15px;
vertical-align:top;
height:100%;
text-align:justify;
}


#header-navigation{    
    padding-top:5px;
    padding-left:25px;
    /*width:69%;
    float:left;*/
}
#header-navigation ul {
    margin:0px;
    padding:0px;
}
#header-navigation ul li {
    display:inline;
    list-style:none;
    margin-right:20px;
}


#LRcontainer{
    width:100%;    
    min-width:1014px;/* sum of the elements into div#LRcontainer minus margin of #content */
}

.onglet{
color:#5A5A5A;
letter-spacing:-1px;
}

ul.onglets{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
/*float:left;*/
padding:0px;
height:32px;
overflow:hidden;
}


.onglets li{
background: transparent url(../images/ongleft.png) no-repeat; 
height:32px;
display:block;
padding-left:21px;
overflow:hidden;
}
.onglets li.first{background: transparent url(../images/onglet-left.png) no-repeat; }
.onglets li.first span{background: transparent url(../images/onglet-right-first.png) no-repeat scroll 100% 100%; }

.onglets li span{
background: transparent url(../images/ongright.png) no-repeat scroll 100% 100%;
display:block;
height:32px;
padding-right:21px;
vertical-align:bottom;
overflow:hidden;
}

.onglets a{
/*vertical-align:bottom;
display:block;*/
padding-top:10px;
}


.background{
background-color:#585858;
color:#DBDBDB;  
padding:10px 10px 30px 10px;
position:relative;}

.page-container{
    color:#585858; 
    margin:auto;
    float:left;
  /*  min-height:400px;*/
}

.text-container{
background-color:#ffffff;
overflow:hidden;
}

div.show-tag-area{
    color:#DBDBDB;
    float:left;
    margin-bottom:5px;    
    margin-left:auto;
    margin-right:auto;
    vertical-align:top;
    width:50%;
    display:none;
}

div.tag-line{
width:96%;
margin:auto;}

/*div#show-tag,div#hide-tag{margin:auto;}*/

#book{
    width:96%;
    padding-bottom: 0 0 30px;
    background-color: #585858;
    margin-left:auto;
    margin-right:auto;
    min-width:768px;
  /*  min-height:400px;*/
    overflow:auto;
    clear:both;
}
#central-page{
width:80%;
margin:auto;
}

div#left-page{
width:50%;
}

div#right-page{
width:50%;
}

.center{
width:90%;
}

#container-black{
min-height: 100%;
position: relative;
background-color:#585858;
width:100%;
min-width:800px;
}

div#options{
color: #585858;
height:20px;
}
/* end newread.phtml*/

.work-title{
height:18px;
padding-top:30px;
padding-bottom:15px;
font-size:1.2em;
}
.work-title input{
font-size:1em;
}

#create{
text-align:center;
font-size:1.2em;
color:#929292;
cursor:pointer;
display:block;}

.icons{
width:50%;
float:left;
}
/*#orig-icons{left:0px;}
#tr-icons{right:0px;}
*/
.hidden{display:none;}
.icons div{
cursor:pointer;
float:right;
height:36px;
margin:0 0 10px 0;
width: 32px;
}

.icons span{
width: 32px;
height:32px;
display:block;
text-align:center;
vertical-align:bottom;}

span.icon-label{
width:32px;
height:4px;
display:block;
font-size:0.6em;
font-variant:small-caps;
text-align:center;}

li.onglet span a,li.onglet span input{
color:inherit;
letter-spacing:-1px;
font-size:0.9em;
}

li.onglet{
position:absolute;
top:0px;
left:0px;float:left;
letter-spacing:1px;
}

ul.onglets{
position:relative;
left:0px;
top:0px;}

 #plus{
 background-image:url(../images/ongright.png);
 background-position:right top;
 background-attachment:-3px;
 text-align:right;
 padding-right:10px;
 font-weight:bold;
 }
 
 span#more{
 position:relative;
 bottom:-10px;
 right:10px;
 cursor:pointer;
 }
 ul.onglets li{
 cursor:pointer;
 }
 
 div#test{
 position:fixed;
 left:0px;
 top:0px;
 text-align:justify;
 visibility:hidden;
 }

/*
#container-black #header{
position:absolute;
top:0;
left:0;
}*/
#container-black #content{
height:100%;
padding:5px 30px 30px;
}

a img{
text-decoration:none;
border:0;
}


/*SLIDE MENU*/
.jqueryslidemenu{
font: bold 12px Verdana;
background: #585858;
width: 100%;
z-index:600;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
display: block;
background: #585858; /*background of tabs (default state)*/
color: white;
padding: 8px 10px;
/*border: 1px solid #778;*/
color: #2d2b2b;
text-decoration: none;
}

.jqueryslidemenu ul li ul li.idle a,.jqueryslidemenu ul li ul li ul li.idle a{
color:#484848;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}

.jqueryslidemenu ul li a:hover{
background: black; /*tab link background during hover state*/
color: white;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
background: #eff9ff;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

#myslidemenu{
position:absolute;
top:60px;
left:10px;
height:20px;
width:20px;
}

dd#extendtext-element{
margin:0;
padding:0;
border:solid 1px #DBDBDB;
}


.icons .idle{
display:none;}

.icons a:visited,.icons a:link{color:#FFFFFF;}

span.block,textarea.block{
display:inline;
border:none;}

span.show, div.show, textarea.show{
border:solid 1px #dbdbdb;
display:block;
padding:5px 10px;
}


#translation span.show,#translation textarea.show{
margin-bottom:19px;/* this value must be equal to .merge height +3px*/
}

.cut{
background:transparent url(../images/split.png) no-repeat;
height:16px;
width:16px;
display:inline-block;
cursor:pointer;
}
.merge{
background:transparent url(../images/merge.png) no-repeat;
height:16px;
width:16px;
display:inline-block;
cursor:pointer;
}

.editable textarea{
border:none;
font:inherit;
}
.title.editable,.author.editable,.translator-name.editable{
border:thin inset #585858;
cursor:text;
}

#translation textarea{
color:#000000;font:inherit;
font-size:0.9em;
overflow:auto;
}

.footer{
position:absolute;
bottom:0;
left:0;
}

form, form fieldset, form dd, form dl,form dt{
border: 0px;
padding:0px;
margin:0px;
}

form dl dt{
display:none;}

.add-tag{
background:transparent url(../images/addtag.png) no-repeat;
width:16px;
height:16px;
cursor:pointer;}

.work-title input{
width:auto;
}

#header-navigation form{float:right;}
#header-navigation ul{float:left;}
input#query-value{
background:transparent url(../images/search.png) no-repeat;
border:medium none;
height:24px;
padding:0px 25px 0px 25px;
width:170px;
}

div#search-div{
position:relative;}
#close-search{
position:absolute;
right:1px;
top:1px;
cursor:pointer;}
#lens-search{
position:absolute;
left:1px;
top:1px;
cursor:pointer;}

#editbtn span.icon-img,#editmeta span.icon-img
{background: transparent url(../images/editonsmall.png) scroll 50% no-repeat;}
#editbtn.on span.icon-img,#editmeta.on span.icon-img
{background: transparent url(../images/editon.png) scroll 50% no-repeat;}
.extbtn span.icon-img{background:transparent url(../images/extend.png) scroll 50%  no-repeat;}
.show-tag span.icon-img{background:transparent url(../images/tag24vio.png)  scroll 50% no-repeat;}
.show-tag.on span.icon-img{background:transparent url(../images/tag32vio.png)  scroll 50% no-repeat;}

#new-translation{
position:fixed;
top:20px;
left:auto;
background-color:#585858;
padding:40px;
visibility:hidden;
z-index:400;
border:solid 8px #E5E5E5;
text-align:right;}

#new-translation input[type="submit"],#new-translation input[type="reset"]{
margin:40px 0 0 20px;
float:right;}

#new-translation input[type="text"],#new-translation select{
width:200px;}

#new-translation #form-title{
padding:0 20px 30px;
font-size:1.8em;
font-variant:small-caps;
text-align:center;
}

#insert-sentence-tag{
position:absolute;
top:0px;left:0px;
visibility:hidden;
z-index:1000;
text-align:right;
}

#insert-sentence-tag input[type="submit"]{
float:right;
position:relative;
left:-70px;
top:7px;
width:auto;
padding:0;
margin:0;
display:inline;}

#insert-sentence-tag textarea{
width:300px;
padding-right:75px;
height:30px;
display:inline;
}
#insert-sentence-tag #closeimg{
left:370px;
top:5px;
}
.tr-inputline{
margin:0 0 10px;
}

#extend-form{
margin:40px 0 0;
text-align:left;
position:relative;
}

#extend-form textarea{
width:100%;
}
.closeimg{
cursor:pointer;
position:absolute;
top:2px;
right:2px;
background:transparent url(../images/close16.png) no-repeat;
height:16px;
width:16px;
}
#tagform .closeimg{
position:relative;
top:0;
right:0;
}

.comments{
position:fixed;
top:-2000px;
left:-1000px;}

/*.hint{
font-size:0.5em;
color:#4D4D4D;
font-style:italic;}
*/
#show-icons{
height:34px;
width:96%;
margin:auto;
}
#menu{
font-size:0.6em;
color:#FFFFFF;
font-weight:bold;
/*background:transparent url(../images/menushow.png) scroll 50% no-repeat;*/
position:absolute;
top:50px;
left:15px;
width:20px;
height:20px;
z-index:700;
cursor:pointer;
}
#menu.hide{/*background:transparent url(../images/menuhide.png) scroll 50% no-repeat;*/
font-size:0.6em;
font-style:italic;
font-weight:normal;
}

.hidden{display:none;}
.visible{display:block;}
.highlighted{background-color:#FFFDDE;}
.selected{background-color:#FAF327;}
.segment{cursor:default;}
.sentence-tag{
background:transparent url(../images/chat16.png) scroll 50% no-repeat;
width:16px;
height:16px;
position:absolute;
top:0;left:0;
z-index:300;
display:inline-block;
}
#addnotebtn span.icon-img{
background:transparent url(../images/chat24.png) scroll 50% no-repeat;
}
#addnotebtn.on span.icon-img{
background:transparent url(../images/chat32.png) scroll 50% no-repeat;
}
#hint{
position:fixed;
top:20px;
left:500px;
padding:20px;
color:#7D7D7D;
background-color:#F5F5F5;
z-index:400;
display:none;}

.note-symbol{
color:#FF0000;
vertical-align:super;
font-size:0.8em;
cursor:pointer;}

.show-note{
font-style:italic;
font-size:0.9em;
position:fixed;
bottom:5px;
border:solid 1px #787878;
background-color:#FFFFFF;
color:#585858;
z-index:800;
visibility:hidden;
padding:10px 30px;
}

.show-note a.delete{
font-style:normal;
font-size:1.2em;
margin:6px;
background-color:#FFFFFF;
border: 1px solid;
}
a.translator,.prec-onglet,.next-onglet{
font-variant:small-caps;
font-size:0.8em;
color:#787878;
display:none;}

.onglets li.first span.container,.onglets li span.container{
display:block;
padding-top:10px;
background:none;
background-image:none;}
span.container{
z-index:800;
width:auto;
margin:0;
padding:0;}
/* END SLIDE MENU */

