.creator{
    text-align:left;
    color:#BBB;
    margin:0 10px;
}

.TLcorner,.TRcorner,.BLcorner,.BRcorner,.Tborder,.Rborder,.Lborder,.Bborder,.middle,.center{
float:left;
}

.Tborder{
text-align:right;}

.TLcorner,.TRcorner,.BLcorner,.BRcorner{
    background-repeat:no-repeat;
    width:5%;
    height:32px;
}
.TLcorner{
    float:left;
    /*background-image:url(../images/TLcorner.png); */
    background-image:url(../images/TLcorner_extended.png); 
}
.TRcorner{
/*    background-image:url(../images/TRcorner.png);*/
    background-image:url(../images/TRcorner_extended.png);
    background-position:right top;
    float:right;
}
.TLcorner-ong{
    background-image:url(../images/onglet-left.png); 
    height:32px;
    width:23px;
    float:left;
    background-repeat:no-repeat;
}

.TRcorner-ong{
    background-image: url(../images/onglet-right-short.png); 
    height:32px;
    float:right;
    width:23px;
    background-repeat:no-repeat;
}
.Tborder-ong{
    background-image:url(../images/onglet-top.png);
    background-repeat:repeat-x;
    height:32px;
}

.BLcorner{
    float:left;
    background-image:url(../images/BLcorner_extended.png); 
/*    background-image:url(../images/BLcorner.png); */
    background-position:left bottom;
}
.BRcorner{
    /*background-image:url(../images/BRcorner.png);*/
    background-image:url(../images/BRcorner_extended.png);
    background-position:right bottom;
    float:right;
}
.Tborder{
    background-image:url(../images/top-border.png);
}
.Bborder{
    background-image:url(../images/bottom-border.png);
}
.Tborder, .Bborder{
    background-repeat:repeat-x;  
    height:32px;
}
.Lborder{
    background-image:url(../images/left-border-extended.png);
    background-repeat:repeat-y;
    background-position:left;
    /*width:21px;*/
    width:5%;
}
.Rborder{
    background-image:url(../images/right-border-extended.png);
    background-repeat:repeat-y;
    background-position:right;
    /*width:21px;*/
    width:5%;
 }
#page-container{
    vertical-align: middle;
    padding: 20px;
    background-color: #585858;
    color:#585858;
}
img.turn-page{
    height:20px;
    width:21px;
    position:relative;
    top:50%;
    cursor:pointer;
    visibility:hidden;
}
#next-page img{
float:right;
}

div#remove-tags{
    float:right;
    width:50%;
    text-align:left;
}

div.text {
background-color:#FFFFFF;
/*border: solid 1px #DBDBDB;
padding:5px 10px;*/
margin-top:15px;
vertical-align:top;
height:100%;
text-align:justify;
}


#header-navigation{    
    padding-top:5px;
    padding-left:25px;
    /*width:69%;
    float:left;*/
}
#header-navigation ul {
    margin:0px;
    padding:0px;
}
#header-navigation ul li {
    display:inline;
    list-style:none;
    margin-right:20px;
}


#LRcontainer{
    width:100%;    
    min-width:1014px;/* sum of the elements into div#LRcontainer minus margin of #content */
}

.onglet{
color:#5A5A5A;
letter-spacing:-1px;
}

ul.onglets{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
/*float:left;*/
padding:0px;
height:32px;
overflow:hidden;
}

li.onglet{
float:left;
letter-spacing:1px;
padding-left:10px;
float:left;
}

.onglets li{
background: transparent url(../images/ongleft.png) no-repeat; 
height:32px;
display:block;
padding-left:21px;
overflow:hidden;
}
.onglets li.first{background: transparent url(../images/onglet-left.png) no-repeat; }
.onglets li.first span{background: transparent url(../images/onglet-right-first.png) no-repeat scroll 100% 100%; }

.onglets li span{
background: transparent url(../images/ongright.png) no-repeat scroll 100% 100%;
display:block;
height:32px;
padding-right:21px;
vertical-align:bottom;
overflow:hidden;
}

.onglets a{
vertical-align:bottom;
display:block;
padding-top:10px;
}


.background{
background-color:#585858;
color:#DBDBDB;  
padding:10px 10px 30px 10px;
}

.page-container{
    color:#585858; 
    margin:auto;
    float:left;
  /*  min-height:400px;*/
}

.text-container{
background-color:#ffffff;
overflow:hidden;
}

div.show-tag-area{
    color:#DBDBDB;
    float:left;
    margin-bottom:5px;    
    margin-left:auto;
    margin-right:auto;
    vertical-align:top;
    width:50%;
}
div.tag-line{
width:96%;
margin:auto;}

#book{
    width:96%;
    padding-bottom: 0 0 30px;
    background-color: #585858;
    margin-left:auto;
    margin-right:auto;
    min-width:768px;
  /*  min-height:400px;*/
    overflow:auto;
    clear:both;
}
#central-page{
width:80%;
margin:auto;
}

div#left-page{
width:50%;
}

div#right-page{
width:50%;
}

.center{
width:90%;
}

#container-black{
min-height: 100%;
position: relative;
background-color:#585858;
}

div#options{
color: #585858;
height:20px;
}
/* end newread.phtml*/

.work-title{
height:18px;
padding-top:30px;
padding-bottom:15px;
font-size:1.2em;
}

#create{
text-align:center;
font-size:1.2em;
color:#929292;
cursor:pointer;
display:block;}

#icons{
position:absolute;
right:0px;
top:5px;
float:right;
}

#icons div{
cursor:pointer;
margin:0 0 10px 0;
width: 30px;
height:30px;
float:left;
}



li.onglet span a{
color:inherit;
letter-spacing:-1px;
font-size:0.9em;
}

li.onglet{
position:absolute;
top:0px;
left:0px;
}

ul.onglets{
position:relative;
left:0px;
top:0px;}

 #plus{
 background-image:url(../images/ongright.png);
 background-position:right top;
 background-attachment:-3px;
 text-align:right;
 padding-right:10px;
 font-weight:bold;
 }
 
 span#more{
 position:relative;
 bottom:-10px;
 right:10px;
 cursor:pointer;
 }
 ul.onglets li{
 cursor:pointer;
 }
 
 div#test{
 position:fixed;
 left:0px;
 top:0px;
 text-align:justify;
 visibility:hidden;
 }

/*
#container-black #header{
position:absolute;
top:0;
left:0;
}*/
#container-black #content{
height:100%;
padding:30px;
}

a img{
text-decoration:none;
border:0;
}


/*SLIDE MENU*/
.jqueryslidemenu{
font: bold 12px Verdana;
background: #585858;
width: 100%;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
display: block;
background: #585858; /*background of tabs (default state)*/
color: white;
padding: 8px 10px;
/*border-right: 1px solid #778;*/
color: #2d2b2b;
text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}

.jqueryslidemenu ul li a:hover{
background: black; /*tab link background during hover state*/
color: white;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
background: #eff9ff;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

#myslidemenu{
position:absolute;
top:50px;
left:10px;
height:23px;
width:20px;
}

dd#extendtext-element{
margin:0;
padding:0;
border:solid 1px #DBDBDB;
}

#editbtn{
background: transparent url(../images/editonsmall.png) no-repeat; 
}
#editbtn.on{
background: transparent url(../images/editon.png) no-repeat; 
}
/*
#savebtn{
background: transparent url(../images/saveoff.png) no-repeat; 
}
#savebtn.on{
background: transparent url(../images/saveon.png) no-repeat; 
}*/
#delbtn{
background: transparent url(../images/deloffsmall.png) no-repeat; 
}
#delbtn.on{
background: transparent url(../images/delonsmall.png) no-repeat; 
}

span.block,textarea.block{
display:inline;
border:none;
}

span.show, div.show, textarea.show{
border:solid 1px #dbdbdb;
display:block;
padding:5px 10px;
}

#translation{
position:relative;}

#translation span.show,#translation textarea.show{
margin-bottom:19px;/* this value must be equal to .merge height +3px*/
}

.cut{
background:transparent url(../images/split.png) no-repeat;
height:16px;
width:16px;
display:inline-block;
cursor:pointer;
}
.merge{
background:transparent url(../images/merge.png) no-repeat;
height:16px;
width:16px;
display:inline-block;
cursor:pointer;
}

.editable textarea{
border:none;
font:inherit;
}

#translation textarea{
color:#000000;font:inherit;
font-size:0.9em;
overflow:auto;
}

.footer{
position:absolute;
bottom:0;
left:0;
}

form, form fieldset, form dd, form dl,form dt{
border: 0px;
padding:0px;
margin:0px;
}

form dl dt{
display:none;}

.add-tag{
cursor:pointer;}

.work-title input{
width:100px;
}

/* END SLIDE MENU */
