{{>header}}
{{#i18n}}
<div id="filters">
  {{i_language_}}
</div>
<table class="concordance">
  {{#occurrences}}
    <tr>
      <td>{{{context}}}</td>
      <td>{{{mapping}}}</td>
      <td class="metadata">
        {{#original}}
        <div class="original">
          <div class="creator">{{creator}}</div>
          <div class="title"><a href="{{work_id}}?open={{/original}}{{open_list}}{{#original}}#line-{{line_number}}">{{title}}</a></div>
          <div>{{#publisher}}<span class="publisher">{{publisher}}</span>{{/publisher}}
          {{#date}}{{#publisher}}, {{/publisher}}<span class="data">{{date}}</span>{{/date}}</div>
        </div>
        {{/original}}
        {{#translation}}
        <div class="translation">
          <div class="creator">{{i_trad}} {{creator}}</div>
          <div>{{#publisher}}<span class="publisher">{{publisher}}</span>{{/publisher}}
          {{#date}}{{#publisher}}, {{/publisher}}<span class="data">{{date}}</span>{{/date}}</div>
         </div>
        {{/translation}}
      </td>
    </tr>
  {{/occurrences}}
</table>
{{/i18n}}
{{>footer}}
