{{>header}}
<div id="middle">
  {{#i18n}}
  <h3>{{i_report_description}}</h3>
  <form data-url="{{server_url}}">
  <div id="link"><label>{{i_at_page_}}</label><input type="text" name="link"/></div><br/>
  <input type="checkbox" name="wrongref"/>{{i_wrong_ref}}<br/>
  <input type="checkbox" name="protected"/>{{i_protected_work}}<br/>
  <div id="details"><label>{{i_optional_details_}}</label><br/>
  <textarea></textarea><br/></div>
  <label>{{i_email_optional_}}</label><br/><input type="email" name="link"/><br/>
  <label>{{i_anti_spam_system}}</label>
  <script type="text/javascript">
    var RecaptchaOptions = {
      theme : 'clean',
      lang: '{{language}}'
    };
  </script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{public_key}}"></script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k={{public_key}}"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
  </noscript>
  <button>{{i_report}}</button>
  </form><br/>
  {{/i18n}}
</div>
{{>footer}}
