{{>header}}
<div id="middle">
  <h3>Signaler une mise en ligne abusive</h3>
  <form data-url="{{server_url}}">
	<div id="link"><label>à la page :</label><input type="text" name="link"/></div><br/>
	<input type="checkbox" name="wrongref"/>Référence erronée ou manquante (auteur, éditeur, licence...)<br/>
	<input type="checkbox" name="protected"/>Diffusion d'une &oelig;uvre protégée non-assimilable à une citation courte<br/>
	<div id="details"><label>Détails (optionnel) :</label><br/>
	<textarea></textarea><br/></div>
	<label>Adresse de courrier électronique (optionnel) :</label><br/><input type="email" name="link"/><br/>
	<label>Système anti-spam :</label>
	<script type="text/javascript">
	  var RecaptchaOptions = {
		theme : 'clean',
		lang: 'fr'
	  };
	</script>
	<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{public_key}}"></script>
	<noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k={{public_key}}"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
	</noscript>
	<button>Signaler</button>
  </form><br/>
</div>
{{>footer}}
