{{> header}}
<script type="text/javascript">
  var license="{{text.license}}";
</script>
<h1>
  {{work_title}} – {{work_creator}} - {{text.date}} <br/>
  {{text.creator}}
</h1>

<div class="full group" data-id="{{id}}">
  {{#i18n}}
  <div class="license-attributes">
    <p class="chapeau">{{i_license_characteristics}}</p>
    <div class="dialog">
      <form id="license">
        <div class="option-group" id="group_license_derivatives">
          <div class="label">{{i_allow_changes_question}}</div>
          <div class="choice"><input type="radio" name="derivatives" id="derivatives-none" value="EMPTY" checked/>{{i_yes}}</div>
          <div class="choice"><input type="radio" name="derivatives" id="derivatives-nd" value="nd"/>{{i_no}}</div>
          <div class="choice"><input type="radio" name="derivatives" id="derivatives-sa" value="sa"/>{{i_yes_share_conditions}}</div>
        </div>
        <div class="option-group">
          <div class="label">{{i_allow_commercial_use_question}}</div>
          <div class="choice"><input type="radio" name="commercial" id="commercial-none" value="EMPTY" checked/>{{i_yes}}</div>
          <div class="choice"><input type="radio" name="commercial" id="commercial-nc" value="nc"/>{{i_no}}</div>
        </div>
        <div class="option-group bottom">
          <div class="label">{{i_license_jurisdiction}}</div>
          <select name="country">
            <option value="fr">{{i_fr}}</option>
            <option value="uk">{{i_uk}}</option>
            <option value="us">{{i_us}}</option>
            <option value="it">{{i_it}}</option>
          </select>
        </div>
        <div class="option-group bottom">
          <input type="submit" name="save" id="save-license" value="{{i_save}}"/>
          <input type="button" name="cancel" value="{{i_cancel}}"/>
        </div>
      </form>
    </div>
  </div>
  <div class="license-selected">
    <p class="chapeau">{{i_selected_license}}</p>
    <div class="dialog">
      <div class="license-name">{{text.license}}</div>
      <div class="graphical">
        <div class="cc by"></div>
        <div class="cc commercial"></div>
        <div class="cc derivatives"></div>
      </div>
      <div class="fc-dubious">
        <div class="freework"></div>
        <div class="freework-text">{{i_not_free_license}}</div>
      </div>
    </div>
  </div>
  {{/i18n}}
</div>
{{> footer}}
