{{>header}}
{{#i18n}}
<div id="lead">
  <img src="{{prefix}}/shared/img/traduxio_home_logo.jpg" alt="TraduXio Home Logo" />
  <div id="citation"><span class="quote"></span><span class="author"></span></div>
  <div class="welcome">{{i_participative_translation}}</div>
</div>
<div id="works-list">
  <ul>
    {{#languages}}
    <li class="language"><span class="language expand" data-id="{{code}}">{{code}}</span>
    <ul>
      {{#authors}}
      <li class="author foldable closed">{{name}}
      <ul>
        {{#works}}
        <li><a href="{{id}}">{{name}}</a></li>
        {{/works}}
      </ul>
      </li>
      {{/authors}}
    </ul>
    </li>
    {{/languages}}
  </ul>
</div>
<div id="aside">
  <a href="new">{{i_add_work}}</a>
</div>
{{/i18n}}
{{>footer}}
