{{> header}}
{{#i18n}}
<script>var i18n={{{i18n_str}}};</script>
<div class="top">
  <h1><span class="title">{{work_title}}</span> – <span class="creator">{{work_creator}}</span> (<span class="language expand" data-id="{{language}}">{{language}}</span>)</h1>
  {{^original}}<a href="#" class="workButton" id="editDoc">{{i_edit}}</a>{{/original}}
  <a href="#" class="workButton" id="removeDoc">✕</a>
  <a href="#" class="workButton" id="addVersion">+</a>
  <form id="addPanel"><h3>{{i_translation_}} </h3><input name="work-creator" placeholder="{{i_author}}"/><input type="submit" value="{{i_create}}" name="do-create" /></form>
  <div id="removePanel"><button id="remove-confirm">{{i_delete_text_and_translations}}</button></div>
  {{#notext}}
    <form id="work-info">
      <input class="title" name="title" placeholder="{{i_title}}" value="{{work_title}}">
      <input class="work-creator" name="work-creator" placeholder="{{i_author}}" value="{{work_creator}}">
      <select class="language" name="language" placeholder="{{i_original_language}}" data-language="{{work_language}}"></select>
      <input class="date" name="date" placeholder="{{i_year_original}}" value="{{date}}">
      <label>{{i_original}}<input type="checkbox" name="original-work" {{#original}}checked="checked" {{/original}}></label>
      <input type="submit" value="{{i_save}}">
    </form>
  {{/notext}}
</div>
<table id="hexapla" data-lines="{{lines}}" data-id="{{id}}" class="full">
  <thead><tr>
    {{#headers}}
      <th class="pleat open{{#edited}} edited{{/edited}}{{#opened}} opened{{/opened}}" data-version="{{id}}"><div class="relative-wrapper">
      {{#is_original}}
        <div class="metadata title">{{title}}</div>
        <input type="text" class="editedMeta title" name="title"
        title="{{i_title}}" value="{{title}}" />
        <div class="metadata work-creator">{{work_creator}}</div>
        <input type="text" class="editedMeta work-creator" name="work-creator"
          title="{{i_author}}" value="{{work_creator}}"/>
        <div class="meta group">
          <div class="metadata date">{{date}}</div>
          <input type="text" class="editedMeta date" name="date"
            title="{{i_year_original}}" value="{{date}}" />
          <div class="metadata language expand" data-id="{{language}}">{{language}}</div>
          <select class="editedMeta language" name="language"
            title="{{i_original_language}}" value="{{language}}" data-language="{{language}}"></select>
        </div>
      {{/is_original}}
      {{^is_original}}
        <span class="button delete"></span>
        <div class="metadata title">{{title}}</div>
        <input type="text" class="editedMeta title" name="title"
          title="{{i_translated_title}}" value="{{title}}" />
        <div class="metadata work-creator">{{work_creator}}</div>
        <input type="text" class="editedMeta work-creator" name="work-creator"
          title="{{i_version_author}}" value="{{work_creator}}"/>
        <span>{{i_trad}}</span><div class="metadata creator">{{creator}}</div>
        <input type="text" class="editedMeta creator" name="creator"
          title="{{i_translator}}" value="{{creator}}"/>
        <div class="meta group">
          <div class="metadata date">{{date}}</div>
          <input type="text" class="editedMeta date" name="date"
            title="{{i_year_version}}" value="{{date}}" />
          <div class="metadata language expand" data-id="{{language}}">{{language}}</div>
          <select class="editedMeta language" name="language"
            title="{{i_version_language}}" value="{{language}}" data-language="{{language}}"></select>
        </div>
      {{/is_original}}
        <input type="button" class="edit" value="{{i_edit}}" />
        <span class="button hide">{{i_hide}}</span>
      </div></th>
    {{/headers}}
  </tr></thead>
  <tbody>
  {{#justOneText}}
  <tr class="fulltext">
    <td class="pleat open edit" data-version="{{version}}" rowspan="{{raw.length}}">
      <div class="box-wrapper">
      <div class="unit" data-version="{{version}}">
<textarea style="width: 100%; height: 100%;" class="fulltext autosize">
{{#fulltext}}
{{.}}

{{/fulltext}}
</textarea>
       <div class="text">
{{#fulltext}}
{{.}}<br/>
{{/fulltext}}
       </div>
     </div>
    </div>
    </td>
  </tr>
  {{/justOneText}}
  {{#rows}}
  <tr id="line-{{line}}" data-line="{{line}}">
    {{#units}}
      <td class="pleat open" data-version="{{version}}" rowspan="{{space}}">
        <div class="box-wrapper">
          <div class="unit" data-version="{{version}}">
            {{^justOneText}}
              <textarea style="width: 100%; height: 100%;" class="autosize">{{{rawText}}}</textarea>
            {{/justOneText}}
            <div class="text">{{{htmlText}}}</div>
          </div>
        </div>
      </td>
    {{/units}}
  </tr>
  {{/rows}}
  </tbody>
  <tfoot><tr>
  {{#headers}}
    <th class="pleat open" data-version="{{id}}">
      <div class="relative-wrapper">
        <input type="button" class="edit" value="{{i_edit}}" />
        <div class="button edit-license" title="{{i_edit_license}}"></div>
        <div class="license">
        {{#creativeCommons}}
          <a href="http://creativecommons.org/licenses/{{creativeCommons}}/3.0/fr">
            <img src="http://i.creativecommons.org/l/{{creativeCommons}}/3.0/88x31.png" alt="License {{creativeCommons}}" name="{{creativeCommons}}"/>
          </a>
        {{/creativeCommons}}
        {{^creativeCommons}}
          {{i_all_rights_reserved}}.
        {{/creativeCommons}}
        </div>
        <div class="button hide">{{i_hide}}</div>
      </div>
    </th>
  {{/headers}}
  </tr></tfoot>
</table>

{{/i18n}}
{{> footer}}
