{{> header}}
  <div class="top">
	<h1>{{work_title}} – {{work_creator}}</h1>
	<img src="{{prefix}}/shared/remove.png" alt="remove doc" class="removeDoc" />
	<img src="{{prefix}}/shared/add.png" alt="add version" class="addVersion" />
	<form id="addPanel"><h3>{{addtrad}}</h3><input type="text"/><input type="submit" value="{{send}}" /></form>
	<div id="removePanel"><button>{{deleteMsg}}</button></div>
    <form id="work-info">
        <input class="title" name="title" placeholder="Titre">
        <input class="work-creator" name="work-creator" placeholder="Auteur">
        <select class="language" name="language"></select>
        <input class="date" name="date" placeholder="Date">
        <label for="original-work">Oeuvre originale</label><input type="checkbox" checked="" name="original-work">
        <input type="submit" name="{{sned}}">
    </form>
  </div>
  <table id="hexapla" data-lines="{{lines}}" data-id="{{id}}" class="full">
    <thead class="header"><tr>
      {{#headers}}
        <th class="pleat open{{#edited}} edited{{/edited}}{{#opened}} opened{{/opened}}" data-version="{{id}}"><div class="relative-wrapper">
          <div class="metadata title">{{title}}</div>
          <div class="metadata work-creator">{{work_creator}}</div>
          <span>{{trad}}</span><div class="metadata creator">{{creator}}</div>
          <div class="meta group">
	    <div class="metadata date">{{date}}</div>
	    <div class="metadata language expand" data-id="{{language}}">{{language}}</div>
          </div>
          <input type="button" class="edit" value="Editer" />
          <span class="button hide">Cacher</span>
        </div></th>
      {{/headers}}
    </tr></thead>
    <tbody>
    {{#rows}}
    <tr id="{{line}}" data-line="{{line}}">
      {{#units}}
        <td class="pleat open" data-version="{{version}}" rowspan="{{space}}">
          <div class="box-wrapper"><div class="unit" data-version="{{version}}"><div class="text">{{{text}}}</div></div></div>
        </td>
      {{/units}}
    </tr>
    {{/rows}}
    </tbody>
    <thead class="footer"><tr>
    {{#headers}}
      <th class="pleat open" data-version="{{id}}">
        <div class="relative-wrapper">
          <input type="button" class="edit" value="Editer" />
          <div class="button edit-license" title="Editer la licence"></div>
          <div class="license">
          {{#creativeCommons}}
            <a href="http://creativecommons.org/licenses/{{creativeCommons}}/3.0/fr">
              <img src="http://i.creativecommons.org/l/{{creativeCommons}}/3.0/88x31.png"/>
            </a>
          {{/creativeCommons}}
          {{^creativeCommons}}
            Tous droits réservés.
          {{/creativeCommons}}
          </div>
          <div class="button hide">Cacher</div>
        </div>
      </th>
    {{/headers}}
    </tr></thead>
  </table>

{{> footer}}
