<html>
<body>
<table>
  {{#occurrences}}
    <tr>
      <td>{{{context}}}</td>
      <td>{{{mapping}}}</td>
      <td>
        {{#original}} 
          {{creator}} <br/>
          <a href="{{work_id}}">{{title}}</a><br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/original}}
        {{#translation}}
          Trad. {{creator}} <br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/translation}}
      </td>
    </tr>
  {{/occurrences}}
</table>
</body>
</html>
