<html>
<head>
  <script src="script/jquery.js"></script>
</head>
<body>
<nav>
  <ul>
    <li><a href=".">Œuvres</a></li>
  </ul>
</nav>
<form>
  <input id="query" type="search" placeholder="Rechercher" value="{{query}}" />
  <select id="language" />
  </select>
</form>
<table>
  {{#occurrences}}
    <tr>
      <td>{{{context}}}</td>
      <td>{{{mapping}}}</td>
      <td>
        {{#original}} 
          {{creator}} <br/>
          <a href="{{work_id}}">{{title}}</a><br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/original}}
        {{#translation}}
          Trad. {{creator}} <br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/translation}}
      </td>
    </tr>
  {{/occurrences}}
</table>
<script type="text/javascript">

  $(document).ready(function() {

    $("form").submit(function(event) { //TODO jQuery 2
      event.preventDefault();
      var q = $(this).find('#query').val().toLowerCase();
      var l = $("#language").val();
      window.location.href = 'concordance?' + $.param({
        startkey: '["' + l + '","' + q + '"]',
        endkey: '["' + l + '","' + q + '\\u9999"]',
        query: q,
        language: l
      });
    });

    $.ajax({
      url: "languages",
      type: "GET",
      dataType: "json",
      success: function(result) {
        $.each(result.rows, function(i, o) {
          $("#language").append("<option>" + o.key + "</option>");
        });
        $("#language").val("{{language}}");
      }
    });
  });

</script>
</body>
</html>
