<html>
<head>
  <script src="script/jquery.js"></script>
</head>
<body>
<form>
  <input id="query" type="search" placeholder="Rechercher" value="{{query}}" />
  {{language}}
</form>
<table>
  {{#occurrences}}
    <tr>
      <td>{{{context}}}</td>
      <td>{{{mapping}}}</td>
      <td>
        {{#original}} 
          {{creator}} <br/>
          <a href="{{work_id}}">{{title}}</a><br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/original}}
        {{#translation}}
          Trad. {{creator}} <br/>
          {{#publisher}}{{publisher}}<br/>{{/publisher}}
          {{#date}}{{date}}<br/>{{/date}}
        {{/translation}}
      </td>
    </tr>
  {{/occurrences}}
</table>
<script type="text/javascript">

  $(document).ready(function() {

    $("form").submit(function(event) { //TODO jQuery 2
      event.preventDefault();
      var q = $(this).find('#query').val().toLowerCase();
      window.location.href = 'concordance?startkey=["{{language}}","' + q
        + '"]&endkey=["{{language}}","' + q
        + '\\u9999"]&query=' + q
        + '&language={{language}}';
    });

  });

</script>
</body>
</html>
