<html>
<head>
  <title>{{work_creator}} : {{work_title}} — TraduXio</title>
  <script src="script/jquery.js"></script>  
  <script type="text/javascript">

  function search() {
    var q = $('#query').val().toLowerCase();
    window.location.href = 'concordance?startkey=["{{work_language}}","' + q 
      + '"]&endkey=["{{language}}","' + q 
      + '\\u9999"]&query=' + q ;
  }

  </script>
</head>
<body>
  <h1>{{work_title}} – {{work_creator}}</h1>
  <table>
    <tr>
      {{#headers}}
        <th>
          {{title}}<br/>
          {{work_creator}}<br/>
          {{language}} — {{creator}} {{date}}<br/>
          {{#creativeCommons}}
            <a href="http://creativecommons.org/licenses/{{creativeCommons}}/3.0/fr">
              <img src="http://i.creativecommons.org/l/{{creativeCommons}}/3.0/88x31.png"/>
            </a>
          {{/creativeCommons}}
          {{^creativeCommons}}
            Tous droits réservés.
          {{/creativeCommons}}
        </th>
      {{/headers}}
    </tr>
    {{#units}}
    <tr>
      {{#versions}}
        <td>{{{.}}}</td>
      {{/versions}}
    </tr>
    {{/units}}
  </table>
  <form>
    <input id="query" type="text" />
    <button type="button" onclick="search()">Rechercher</button>  
  </form>
</body>
</html>
