<html>
<head>
  <title>{{work_creator}} : {{work_title}} — TraduXio</title>
  <script src="script/jquery.js"></script>  
  <script type="text/javascript">

  function toggleName(element, name1, name2) {
    element.text(
      (element.text()==name1)? name2 : name1
    );
  }

  function find(parentType, translationNumber, type) {
    return $("tr").find(parentType + ":nth-child(" + translationNumber + ")")
      .find(type);
  }

  function findUnits(translationNumber) {
    return find("td", translationNumber, ".unit");
  }

  function toggleShow(translationNumber) {
    findUnits(translationNumber).toggle();
    toggleName(find("th", translationNumber, ".toggle"), "Afficher", "Cacher");
  }

  function isEdited(unit) {
    return unit.find("textarea").length>0;
  }

  function htmlToString(unit) {
    return unit.html()
      .replace(/<\/div><div>/g, "\n")
      .replace("<div>", "")
      .replace("</div>", "");
  }

  function stringToHtml(formattedString) {
     return "<div>" 
      + formattedString.replace(/\n/g, "</div><div>")
      + "</div>";
  }

  function getTranslationNumber(element, ancestor) {
    return element.closest(ancestor).index() + 1;
  }

  $(document).ready(function() {

    $("form").submit(function(event) { //TODO jQuery 2
      event.preventDefault();
      var q = $(this).find('#query').val().toLowerCase();
      window.location.href = 'concordance?' + $.param({
        startkey: '["{{work_language}}","' + q + '"]',
        endkey: '["{{work_language}}","' + q + '\\u9999"]',
        query: q,
        language: '{{work_language}}'
      });
    });

    $(".toggle").click(function() { //TODO jQuery 2
      toggleShow(getTranslationNumber($(this), "th"));
    });

    $(".edit").click(function() { //TODO jQuery 2
      toggleName($(this), "Lire", "Éditer");
      findUnits(getTranslationNumber($(this), "th")).each(function() {
        if (isEdited($(this))) {
          $(this).html(stringToHtml($(this).find("textarea").val()));
        } else {
          $(this).html("<textarea>" + htmlToString($(this)) + "</textarea>");
        }
      });
    });

    $(".unit").focusout(function() { //TODO jQuery 2
      $.ajax({
        type: "PUT",
        url: "version/{{id}}?"+ $.param({
          version: $(this).data("version"),
          line: $(this).data("line")
        }),
        contentType: "text/plain",
        data: $(this).find("textarea").val()
      });
    });

    const N = $("th").length;
    for (var i = 3; i<=N; i++) {
      toggleShow(i);
    }

  });

  </script>
</head>
<body>
  <nav>
    <ul>
      <li><a href=".">Œuvres</a></li>
    </ul>
  </nav>
  <form>
    <input id="query" type="search" placeholder="Rechercher" />
  </form>
  <h1>{{work_title}} – {{work_creator}}</h1>
  <table>
    <tr>
      {{#headers}}
        <th>
          {{title}}<br/>
          {{work_creator}}<br/>
          {{language}} — {{creator}} {{date}}<br/>
          {{#creativeCommons}}
            <a href="http://creativecommons.org/licenses/{{creativeCommons}}/3.0/fr">
              <img src="http://i.creativecommons.org/l/{{creativeCommons}}/3.0/88x31.png"/>
            </a>
          {{/creativeCommons}}
          {{^creativeCommons}}
            Tous droits réservés.
          {{/creativeCommons}}
          <br/>
          <button class="toggle">Cacher</button>
          <button class="edit">Éditer</button>
        </th>
      {{/headers}}
    </tr>
    {{#units}}
    <tr>
      {{#versions}}
        <td>{{{.}}}</td>
      {{/versions}}
    </tr>
    {{/units}}
  </table>
</body>
</html>
